body, html {
    margin: 0;
    overflow: hidden;
    background: #fff; 
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}
.slider {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: auto;
    transition: transform 1s ease;
}

.slides img {
    flex-shrink: 0;
    width: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
}
@media (min-width: 1200px) {
    .slides img {
        height: auto;
        width: 100%;
    }
}