body, html {
    margin: 0;
    padding: 0;
    background: #fff; 
    width: 100%;
    height: 100%;
}
h1,p{
    text-align: center;
}
h2 {
    text-transform: uppercase;
}
main{
    justify-content: center;
    align-items: center;
}
header {
    background-color: #333;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-code {
    display: grid;
    justify-content: center;
    align-items: center;
}
.welcome{
    margin-left: auto;
}
.clock {
    margin-left: auto;
    padding-right: 5px;
}
.clock h2 {
    margin: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold; /* Make text bold */
    font-size: 1.1rem; /* Adjust font size */
  }
.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

.slides img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
@media (max-aspect-ratio: 16/9) {
    .slides img {
      height: 100vh;
      width: auto;
    }
}
@media (min-aspect-ratio: 16/9) {
    .slides img {
      width: 100vw;
      height: auto;
    }
  }