{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <div class="slider">
            <div class="slides">
                <img src="{{ url_for('static', filename='image/total.jpg') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='image/Press.jpg') }}" alt="Image 2">
                <img src="{{ url_for('static', filename='image/MC.jpg') }}" alt="Image 3">
                <img src="{{ url_for('static', filename='image/MC_NG.jpg') }}" alt="Image 5">
                <img src="{{ url_for('static', filename='image/Hl.jpg') }}" alt="Image 4">
                <img src="{{ url_for('static', filename='image/Anodizing.jpg') }}" alt="Image 6">
                <img src="{{ url_for('static', filename='image/Assembly.jpg') }}" alt="Image 7">
            </div>
        </div>
{% endblock %}
