{% extends 'layout.html' %}

{% block title %}PAVONINE VINA{% endblock %}

{% block content %}
        <div class="slider">
            <div class="slides">
                <img src="{{ url_for('static', filename='images/Total.jpg') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='images/Press.jpg') }}" alt="Image 2">
                <img src="{{ url_for('static', filename='images/MC.jpg') }}" alt="Image 3">
                <img src="{{ url_for('static', filename='images/MC_NG.jpg') }}" alt="Image 5">
                <img src="{{ url_for('static', filename='images/HairLine.jpg') }}" alt="Image 4">
                <img src="{{ url_for('static', filename='images/Anodizing.jpg') }}" alt="Image 6">
                <img src="{{ url_for('static', filename='images/Assembly.jpg') }}" alt="Image 7">
            </div>
        </div>
{% endblock %}
