<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hello! Say Hi!{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('main.about') }}">About</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        <div class="slider">
            <div class="slides">
                <img src="{{ url_for('static', filename='image/total.jpg') }}" alt="Image 1">
                <img src="{{ url_for('static', filename='image/Press.jpg') }}" alt="Image 2">
                <img src="{{ url_for('static', filename='image/MC.jpg') }}" alt="Image 3">
                <img src="{{ url_for('static', filename='image/Hl.jpg') }}" alt="Image 4">
                <img src="{{ url_for('static', filename='image/MC_NG.jpg') }}" alt="Image 5">
            </div>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
</body>
</html>
