<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hello! Say Hi!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon/house.png')}}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarheader">
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link alink" href="{{ url_for('main.index') }}">PAVONINE</a>
                      </li>
                      
                      <!--<li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">Press</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">MC</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">HairLine</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">Anodizing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.about') }}">Assembly</a>
                      </li>
                      <li class="nav-item">--> 
                        <a class="nav-link" href="/main/generate_qr_download" target="_blank">Tạo mã QR</a>
                      </li>
                    </ul>   
                    <div class="clock ml-3">
                        <h5 id="date-time"></h5>
                      </div> 
                  </div>
            </nav>   
    </header>
    <main id="main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
