{% extends 'layout.html' %}

{% block title %}QR Code Information{% endblock %}

{% block content %}
    <h1>QR Code Information</h1>
    <div class="container">
        <button class="cta" onclick="printQRcode()">
            <span class="hover-underline-animation"> IN MÃ QR TẠI ĐÂY </span>
            <svg
              id="arrow-horizontal"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="10"
              viewBox="0 0 46 16"
            >
              <path
                id="Path_10"
                data-name="Path 10"
                d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                transform="translate(30)"
              ></path>
            </svg>
          </button>
    </div>
    <div class="qr-code">
        <p id="creation-time">Creation Time: {{ creation_time}}</p>
        <img id="qr_code" src="data:image/png;base64,{{ qr_image }}" alt="QR Code">
</div>
{% endblock %}

